<!--<div fxLayout="row" fxLayoutAlign="center stretch">
    <md-toolbar style="width: 44%" color="primary">เข้าสู่ระบบ</md-toolbar>
</div>-->
<!--<md-input-container>
    <input mdInput [mdDatepicker]="myDatepicker" [readOnly]="true" placeholder="Pick a date" [(ngModel)]="pickDate">
    <button mdSuffix [mdDatepickerToggle]="myDatepicker"></button>
</md-input-container>
<md-datepicker #myDatepicker [touchUi]="true"></md-datepicker>
<br> {{pickDate | date: 'dd-MM-yyyy'}}-->
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" style="height: 100%">
    <div fxFlex="35">
        <md-card>
            <div fxLayout="row" fxLayoutAlign="center stretch">
                <h2>เข้าสู่ระบบ</h2>
            </div>

            <br>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="10px" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <div fxFlex="90">
                        <md-input-container style="width: 100%">
                            <input mdInput name="username" [(ngModel)]="model.username" #username="ngModel" required>
                            <md-placeholder>
                                <span mdPrefix class="fa fa-user">&nbsp; ชื่อผู้ใช้งาน</span>
                            </md-placeholder>
                            <md-error>กรุณาระบุ ชื่อผู้ใช้งาน</md-error>
                        </md-input-container>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="10px" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <div fxFlex="90">
                        <md-input-container style="width: 100%">
                            <input mdInput type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                            <md-placeholder>
                                <span mdPrefix class="fa fa-lock">&nbsp; รหัสผ่าน</span>
                            </md-placeholder>
                            <md-error>กรุณาระบุ รหัสผ่าน</md-error>
                        </md-input-container>
                    </div>
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="center stretch">
                    <div fxFlex>
                        <button md-raised-button [disabled]="loading" color="primary" style="width: 100%">
                        เข้าสู่ระบบ
                        
                        <i *ngIf="loading" class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
                        <span  class="sr-only">...</span>
                    </button>

                    </div>
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="center stretch">
                    <div fxFlex>
                        <a md-raised-button routerLink="/register" color="accent" routerLinkActive="active" style="width: 100%">สมัครสมาชิก</a>
                    </div>
                </div>
            </form>
        </md-card>
    </div>
</div>