/* You can add global styles to this file, and also import other style files */


/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/


/*@import '~@angular/material/prebuilt-themes/purple-green.css';*/


/*@font-face {
    font-family: 'Bangnampueng', 'Tahoma', sans-serif;
}*/

a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

md-card>md-toolbar {
    margin: -24px 0 24px -24px;
    width: 120%;
    /*height: 40px;*/
    /*min-height: 40px;*/
}

@media screen and (max-width: 640px) {
    .ui-dialog.ui-dialog-responsive {
        width: 90% !important;
    }
}

.btn-default {
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16) !important;
    transition: all 0.5s ease-in-out !important;
    background-color: #fff !important;
    color: #0073ea !important;
    border-color: #fff !important;
}

.btn-default:hover {
    transition: all 0.5s ease-in-out !important;
    background-color: #0073ea !important;
    color: #fff !important;
    border-color: #0073ea !important;
}

.btn-default:focus {
    border-color: #0073ea !important;
}

.btn-edit {
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16) !important;
    transition: all 0.5s ease-in-out !important;
    background-color: #fff !important;
    color: #f0ad4e !important;
    border-color: #fff !important;
}

.btn-edit:hover {
    transition: all 0.5s ease-in-out !important;
    background-color: #f0ad4e !important;
    color: #fff !important;
    border-color: #f0ad4e !important;
}

.btn-edit:focus {
    border-color: #f0ad4e !important;
}

.btn-add {
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16) !important;
    transition: all 0.5s ease-in-out !important;
    background-color: #fff !important;
    color: #00a651 !important;
    border-color: #fff !important;
}

.btn-add:hover {
    transition: all 0.5s ease-in-out !important;
    background-color: #00a651 !important;
    color: #fff !important;
    border-color: #00a651 !important;
}

.btn-add:focus {
    border-color: #00a651 !important;
}

.btn-delete {
    box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 1px 0 rgba(0, 0, 0, 0.16) !important;
    transition: all 0.5s ease-in-out !important;
    background-color: #fff !important;
    color: #d9534f !important;
    border-color: #fff !important;
}

.btn-delete:hover {
    transition: all 0.5s ease-in-out !important;
    background-color: #d9534f !important;
    color: #fff !important;
    border-color: #d9534f !important;
}

.btn-delete:focus {
    border-color: #d9534f !important;
}

.btn-search:active,
.btn-edit:active,
.btn-add:active,
.btn-default:active,
.btn-delete:active {
    transition: all 0.5s ease-in-out !important;
    background-color: #fff !important;
    color: #ff0093 !important;
    border-color: #dddddd !important;
}

.ui-state-active {
    border-color: #dddddd;
    background: #ffffff;
    color: #ff0084;
    border-radius: 50%;
}

.col-button {
    text-align: center;
    width: 7%;
}

.profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50px
}

.profile-image-large {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}

.app-menu-bar {
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) !important;*/
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24) !important;
    margin: -8px;
    /*width: 102% !important;*/
    position: fixed;
    z-index: 100;
    width: 100%;
    min-height: 50px !important;
    height: 50px!important;
}

.mat-toolbar {
    /*width: initial!important;*/
    min-height: 50px!important;
}

@media (max-width: 960px) and (orientation: landscape) {
    .mat-toolbar {
        min-height: 48px !important;
    }
}

.mat-toolbar-row {
    height: 50px !important;
}


/*body .ui-widget-header {
    background-color: #607D8B;
    color: #ffffff;
    font-size: 1em;
    border: 1px solid #607D8B;
}

body .ui-paginator>a {
    box-sizing: border-box;
    color: #ffffff;
}*/